name: helix_studio
description: The official studio interface for Helix.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.1
  google_fonts: ^6.1.0
  flutter_animate: ^4.5.0
  font_awesome_flutter: ^10.6.0
  supabase_flutter: ^2.3.0
  cupertino_icons: ^1.0.6
  http: ^1.6.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
